:root{
    --height: 40%;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofAjsOUYevI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  * {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    }

  body{
      font-family: nunito, sans-serif;
      background-color: rgb(46, 46, 46);
      color: white;
      font-size: 16px;
  }


  /* for desktop */
  
  .heading{
    height: 100vh;
    width: 100%;
    background-image: url(Resources/Exclusion\ 7.png);
    background-repeat: no-repeat;
    background-size: contain;  
} 



.nav:hover{
    border-bottom: 4px solid red;

}

.nav-bar{
    background-color: black;
    position: fixed;
    z-index: 2;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    list-style: none;
    margin-right: 15px;
    margin-left: auto;
}

.logo{
    margin-left: 15px;
}

a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-size: 1.25rem;
}

.head{
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    font-size: 3.25rem;
    
}

.cta{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    
}

.contact{
  background-color: red;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  margin-bottom: 4%;
}

.contact:hover{
    background-color: white;
    border-color: white;
    color: red;
    
}

.main{
    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url(Resources/StockSnap_ZXOBOKAJEQ.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.services{
    font-size: 3.25rem;
    position: relative;
    top: 25%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    
}

.design, .develop, .deploy{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
}

.design{
    border-right: white 2px solid;
}


.deploy{
    border-left: white 2px solid;
}

.subheads{
    font-size: 2rem;
}

.description{
    font-size: 1.5rem;
    opacity: 75%;
    width: 50%;
    
}


.testimonials{
    text-align: center;
    font-size: 2.5rem;
    height: 100vh;
    margin-top: 75px;
}

.reviews{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 100%;
}

footer{
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
}

footer p{
    margin-left: 2%;
}

@media only screen and (max-width: 1024px){

   .logo{
       width: 125px;
   }

   .nav-links{
       height: 100vh;
       width: 100%;
       position: fixed;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       background: black;
       clip-path: circle(100px at 90% -10%);
       -webkit-clip-path:circle(100px at 90% -10%);
       transition: all 1s ease-out;
       pointer-events: none;
   }

   .nav-links.open{
    clip-path: circle(1800px at 90% -10%);
    -webkit-clip-path:circle(1800px at 90% -10%);
    pointer-events: all;
   }

  .line{
      width: 30px;
      height: 3px;
      background-color: white;
      margin: 5px;
  }

  .hamburger{
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translate(-5%, -50%);
      cursor: pointer;
  }

  .title{
      margin-top: 150px;
      font-size: 3.75rem;
  }

  .head{
      height: 50%;
      display: flex;
      align-items:center;
      justify-content: space-between;
  }

  .main{
      background-position: center;
  }

  .container{
      width: 100%;
      display: flex;
      
      align-items: start;
      justify-content: space-evenly;
      text-align: start;
      flex-flow: column wrap;
  }

  .services{
      position: relative;
      top: 15%;
      font-size: 2.25rem;
  }

  .subheads{
      font-size: 1.75rem;
      text-align: start;
      width: 100%;
      margin-left: 25px;
  }
  
  .design, .develop, .deploy{
      width: auto;
      height: auto;
  }


  .design{
      border-right: none;
  }

  .deploy{
      border-left: none;
  }

  .description{
      font-size: 1.25rem;
      width: 80%;
      margin-left: 20px;
      margin-top: 10px;
      
  }

  .testimonials{
      font-size: 2.25rem;
  }

  .reviews{
      font-size: 2rem;
  }

}


   